.productos {
    width: 100%;
    position: relative;
    
}
.productos p{
    background-color: rgb(61, 77, 87);
    font-size: 30px;
}
.Segunda p{

        background-color: saddlebrown;
        font-size: 30px;
    
}


.Primero div {
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    -moz-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}

.Segunda div {
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    -moz-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}


/*--------------------CONTENIDO  UNO-------------------------------------------------*/

.Primero {
    width: 100%;
    height: 370px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*-----------------------------------------------*/

.unouno {
    width: 22%;
    height: 94%;
    margin-left: 2.8%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.unouno img {
    
    height: 320px;
    margin-left: -10%;
    margin-top: 0%;
    border-radius: 5px;
}


/*-----------------------------------------------*/

.unodos {
    width: 22%;
    height: 340px;
    margin-left: 2%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.unodos img {
    
    height: 300px;
    margin-left: 0%;
    margin-top: 0%;
    border-radius: 5px;
    padding-bottom: 10px;
}
e{
    color: rgb(43, 180, 8);
    font-size: 30px;
}

/*-----------------------------------------------*/

.unotres {
    width: 22%;
    height: 340px;
    margin-left: 2%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.unotres img {
    
    width: 180px;
    margin-left: 0%;
    margin-top: -2%;
    border-radius: 5px;
}


/*-----------------------------------------------*/

.Segunda {
    width: 100%;
    height: 380px;
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dosuno {
    width: 22%;
    height: 420px;
    margin-left: 2.8%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.dosuno img {
   
    height: 330px;
    margin-left: 0%;
    margin-top: -3%;
    border-radius: 5px;
}


/*-----------------------------------------------*/

.dosdos {
    width: 22%;
    height: 420px;
    margin-left: 2%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.dosdos img {
   
    height: 320px;
    margin-left: 0;
    margin-top: -3%;
    border-radius: 5px;
}


/*-----------------------------------------------*/

.dostres {
    width: 22%;
    height: 420px;
    margin-left: 2%;
    transition: linear 0.5s;
    border-radius: 5px;
}

.dostres img {
    
    height: 330px;
    margin-left: 0%;
    margin-top: -4%;
    border-radius: 5px;
}


/*----------------TRANSFORMACIONES HOVER -------------------------------*/

.unouno:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

.unodos:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

.unotres:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

.dosuno:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

.dosdos:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

.dostres:hover {
    transform: scale(1.06);
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 1);
}

figcaption {
    font-family: 'Tw Cen MT';
   
    font-size: 25px;
    color: rgb(1, 53, 13);
    margin-top: 20px;
}