html,
body {
    text-align: center;
    background-color: white;
}


a {
    text-decoration: none;
}

p {
    font-family: 'Tw Cen MT';
    color: white;
}

.react-elpaisa {
    padding: 0;
    margin: 0 auto;
}


/*-------------------------BARRA DE BUSQUEDA-----------------------------------*/

.mini {
    width: 100%;
    height: 51px;
    background-color: rgba(156, 133, 3, 0.9);
    position: fixed;
    z-index: 3;
}

.buscar {
    border-radius: 5px solid black;
    z-index: 1;
    margin-right: 0.5%;
    margin-top: -10%;
    height: 28px;
    width: 20%;
}

.mini img {
    /*lupa*/
    width: 1.5%;
    margin-right: -70%;
    margin-top: .5%;
}


/*---------------HEADER-------------------------------------------------------------------------------*/

header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    border-right: 1px solid #472c04;
    position: absolute;
    margin-bottom: 10px;
    margin-top: -5.9%;
    z-index: 2;
    text-align: left;
    padding-bottom: 0px;
}


/*---------------LOGO---------------------*/

header img {
    width: 10.5%;
    margin-right: 90%;
    margin-top: 100px;
}
.logo{
    margin-top: 0%;
}

/*---------------MENU---------------------*/

.cab {
    width: 11%;
    height: 50px;
    border-right: 1px solid #472a04;
    float: right;
    margin-top: -7.3%;
    margin-right: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 3;
}

.cab a {
    height: 40%;
    cursor: pointer;
    z-index: 3;
}

.cab p {
    font-size: 22px;
    font-weight: normal;
    font-weight: 500;
    letter-spacing: 3px;
    color: #472f04;
    margin-top: -12%;
}

.juv {
    width: 11%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    float: right;
    margin-top: -7.6%;
    margin-right: 30%;
    border-right: 1px solid #472f04;
}

.juv a {
    height: 40%;
    cursor: pointer;
    z-index: 3;
}

.juv p {
    font-size: 22px;
    font-weight: normal;
    font-weight: 500;
    letter-spacing: 3px;
    color: #472804;
    margin-top: -4%;
}

.ni {
    width: 11%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    float: right;
    margin-top: -7.6%;
    margin-right: 15%;
    border-right: 1px solid #472c04;
}

.ni a {
    height: 40%;
    cursor: pointer;
    z-index: 3;
}

.ni p {
    font-size: 22px;
    font-weight: normal;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: -4%;
    color: #472804;
}

.botreg {
    width: 90%;
    height: 30px;
    font-family: 'Tw Cen MT';
    font-size: 22px;
    font-weight: normal;
    border-style: none;
    background-color: transparent;
    transition: linear 0.1s;
    color: #472204;
}

.reg {
    width: 11%;
    margin-left: 87%;
    margin-top: -7%;
    z-index: 3;
}

.botreg:hover {
    cursor: pointer;
    width: 91%;
    height: 31px;
    border: 0.5px solid white;
    background-color: rgba(71, 47, 4, 0.9);
    color: white;
}


/*-----------------------PRESENTADOR-----------------------------------------------------------------------------*/

.presentador {
    position: relative;
    width: 100%;
    height: 622px;
    margin-bottom: 120px;
    z-index: 0;
}

.presentador img {
    /* width: 99.7%;
    height: 622px; */
    width: 90%;
    height: auto;
    margin-top: 89px;
}